{% extends "::base.html.twig" %}
{% block tartalom %}
    <a href="{{ path('thxer_proba_login') }}" title="Bejelentkezés">Bejelentkezés</a><br/>
    <a href="{{ path('felhasznalo') }}" title="Felhasználók kezelése">Felhasználok kezelése</a><br/>
    <a href="{{ path('thxer_proba_json') }}" title="Json feltöltés">Json feltöltés</a><br/>
    <a href="{{ path('thxer_proba_vedett') }}" title="Védett oldal">Védett oldal</a>
{% endblock %}
