{% extends "::base.html.twig" %}
{% block tartalom %}
{% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <h3>{{ flashMessage }}</h3>
    {% endfor %}
{% endif %}
    <form action="{{ path('thxer_proba_json_upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/><br/>
        <input type="submit" value="Feltöltés és feldolgozás"/>
    </form><br/>
    <a href="{{ path('thxer_proba_index') }}" title="Főoldal">Főoldal</a><br/>
{% endblock %}
