{% extends "::base.html.twig" %}
{% block tartalom %}
    {% if error %}
        <div class="error">{{ error.message|trans({},'messages') }}</div>
    {% endif %}
    <form action="{{ path('thxer_proba_login_post') }}" method="post" {{ form_enctype(form) }}>
        {{ form_label(form.username) }}<input type="text" name="_username"/><br/>
        {{ form_label(form.password) }}<input type="password" name="_password"/><br/>
        <input type="submit" value="Bejelentkezés"/>
    </form>
    <a href="{{ path('thxer_proba_index') }}" title="Főoldal">Főoldal</a><br/>
    <a href="{{ path('felhasznalo') }}" title="Felhasználók kezelése">Felhasználók kezelése</a>
{% endblock %}
