{% extends "::base.html.twig" %}
{% block tartalom %}
    <h1>Ez egy védett oldal</h1>
    Bejelentkezett felhasználó: {{ app.user.username }}<br/>
    <a href="{{ path('felhasznalo') }}" title="Felhasználók kezelése">Felhasználók kezelése</a><br/>
    <a href="{{ path('thxer_proba_logout') }}" title="Bejelentkezés">Kijelentkezés</a><br/>
{% endblock %}
