{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Felhasznaló szerkesztése</h1>

    <form action="{{ path('felhasznalo_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Rendben</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('felhasznalo') }}">
            Vissza a listához
        </a>
    </li>
    <li>
        <form action="{{ path('felhasznalo_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Töröl</button>
        </form>
    </li>
</ul>
{% endblock %}
