{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Felhasznalók listája</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Név</th>
                <th>Email</th>
                <th>Felhasználónév</th>
                <th>Jelszó</th>
                <th>Műveletek</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('felhasznalo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.password }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('felhasznalo_show', { 'id': entity.id }) }}">mutat</a>
                    </li>
                    <li>
                        <a href="{{ path('felhasznalo_edit', { 'id': entity.id }) }}">szerkeszt</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('felhasznalo_new') }}">
                Új hozzáadása
            </a>
        </li>
    </ul>
    {% endblock %}
