{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Felhasznalo hozzáadása</h1>

    <form action="{{ path('felhasznalo_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Hozzáad</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('felhasznalo') }}">
            Vissza a listához
        </a>
    </li>
</ul>
{% endblock %}
