{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Felhasznaló</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Azonosító</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Név</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Felhasználónév</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Jelszó</th>
                <td>{{ entity.password }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('felhasznalo') }}">
            Vissza a listához
        </a>
    </li>
    <li>
        <a href="{{ path('felhasznalo_edit', { 'id': entity.id }) }}">
            Szerkesztés
        </a>
    </li>
    <li>
        <form action="{{ path('felhasznalo_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Törlés</button>
        </form>
    </li>
</ul>
{% endblock %}
